.wrapper {
  margin-bottom: 14px;
}

.label {
  font-size: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.input {
  width: 80px;
  padding: 6px 8px;
  border-radius: 8px;
  border: 1px solid var(--card-border);
  background: var(--card-bg);
  color: var(--text-color);
}
